<!DOCTYPE html>
<head>
  <body style="background-color:powderblue;">
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='best_castle.jpeg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <nav>    
    <a href="./">Create A New Story</a>
  </nav>
  <img src="{{ url_for('static', filename='best_castle.jpeg') }}" class="icon" />
  <h3>Your Story</h3>
  {% if result %}
  
  <div class="result">{{ result }}</div>
  {% endif %}
  {% if result1 %}
  <div class="result1">{{ result1 }}</div>
  {% endif %}
  {% if result2 %}
  <div class="result2">{{ result2 }}</div>
  {% endif %}
</body>