<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/turn.js/3/turn.min.css">
    
  </head>
  <body>
    <header>
    <a href="{{url_for ('index')}}">Home Page</a>
    <div class="wrapper">
    <button id="flip">Next</button>
    <button id="flip-back">Previous</button>
    
    <div id="flipbook">
      <div class="page">
        
            
        <p> {{ result }}</p>
        
        <div class="num">1</div>
    </div>
      <div class="page"> <p>{{ result1 }}</p> <div class="num">2</div> </div>
      <div class="page"><p>{{ result2 }}</p><div class="num">3</div></div>
      <div class="page"><p>{{ result3 }}</p><div class="num">4</div></div>
      <div class="page"><p>{{ result4 }}</p><div class="num">5</div></div>
      <div class="page"><p>{{ result5 }}</p><div class="num">6</div></div>
    </div>
  </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turn.js/3/turn.min.js"></script>
    <script>
$(document).ready(function() {
  var flipbook = $('#flipbook');

  flipbook.turn({
    width: 800,
    height: 600,
    autoCenter: true
  });

  $('#flip').click(function() {
    flipbook.turn('next');
  });

  $('#flip-back').click(function() {
    flipbook.turn('previous');
  });
});






</script>
</header>
  </body>
</html>