<!DOCTYPE html>
<head>
  <body style="background-color:powderblue;">
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='best_castle.jpeg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <nav>    
    <a href="./about">About</a>
  </nav>
  <h3>Personalised Stories</h3>
  <form action="/" method="post">
    <input type="text" name="description" placeholder="Describe a story you'd like to hear" required />
    <input type="text" name="age" placeholder="Target Age" required />
    <input type="text" name="characters" placeholder="Characters to include" required />
    <button type="submit" value="Generate Story" > Generate Story</button>
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
<body>
  <div>
     <div class="wave"></div>
     <div class="wave"></div>
     <div class="wave"></div>
  </div>
</body>


