<!DOCTYPE html>
<head>
  <body>
  <title>Children Stories</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  
 
  <header class="outer-container">
    <h3 class="purples">Personalised Stories</h3>
  <div class="video-container">
   <video src="static/bee.mp4" autoplay loop muted></video>
  </div>

  <div class="overlay"></div>

  <div id="content">
    
  <form action="/" method="post">
    <input type="text" name="description" placeholder="Describe a story you'd like to hear" required/>
    <input type="text" name="age" placeholder="Target Age" required/>
    <input type="text" name="characters" placeholder="Characters to include" required />
    <div class="button">
      <div class="content">
        
        <button type="submit" class="button-text">Generate Story</button>
      </div>
  </div>
    
  </form>
  </div>
 
</header>
<script>
  const button = document.querySelector(".button");
  button.addEventListener("click", () =>{
    button.classList.add("active");
    setTimeout(()=>{
      button.classList.remove("active");
      
      button.querySelector("button").innerText = "Generated ";
    },10000);
  });
</script>
  
</body>

</html>

